.static-nav {
  background-color: antiquewhite;
  height: 32px;
}

.static-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.static-nav li {
  display: inline;
  padding: 0 7px;
}

.fixed-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  height: 48px;
}

.fixed-nav-left li {
  display: inline;
  padding: 0 7px;
}

.check-link {
  display: block;
  background-color: yellow;
}

.main-section {
  background-color: lightgreen;
  height: 544px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.main-news {
  border: 2px solid red;
}

.news1 {
  grid-row: 1/3;
  /* background-color: red; */
  background-image: url(../imgs/sec1/grid1-item1.jpg);
}

.news2 {
  background-image: url(../imgs/sec1/grid1-item2.jpg);
}

.news3 {
  background-image: url(../imgs/sec1/grid1-item3.jpg);
}

.latest-news {
  background-color: lightpink;
}

.latest-news-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.latest-new-art {
  border: 1px solid blue;
  padding: 10px;
}

.latest-new-art img{
  width: 100%;
}


.latest-funding {
  background-color: lightyellow;
  height: 330px;
}

.latest-funding-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-funding-title li {
  display: inline;
  margin: 0 10px;
}

.latest-funding-rounds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.latest-funding-column {
  width: 100%;
}

.latest-funding-column img {
  float: left;
  width: 20%;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: azure;
  grid-gap: 20px;
  padding: 20px;
}

.category {
  display: block;
}

.category-image {
  height: 276px;
  background-color: gray;
}

.category-header {
  height: 96px;
  background-color: lightgray;
}

.category-list {
  list-style-type: circle;
  padding: 15px;
}

.category-list li {
  list-style-type: circle;
  padding: 5px;
}

.latest-deals {
  background-color: lightgoldenrodyellow;
  margin: 20px;
}

.latest-deals-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-deals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.latest-deal img {
  width: 100%;
}

.social-media {
  background-color: azure;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media li {
  display: inline;
  margin: 0 7px;
}

.social-media ul {
  margin: 15px 0;
}

.social-media-links li {
  text-align: center;
}

.social-media-links i {
  font-size: 20px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 50%;
}

.credits {
  background-color: lightcyan;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits img {
  height: 12px;
}

@media only screen and (max-width: 1024px) {
  .main-section {
      background-color: yellow;
  }

  .latest-news-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-funding-rounds {
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-funding .last-round {
    display: none;
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest-deals-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .main-section {
      display: block;
      height: 1000px;
  }

  .main-section div {
      grid-row: 1;
      height: 33%;
  }

  .latest-news-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .latest-funding-rounds {
    grid-template-columns: repeat(1, 1fr);
  }

  .categories {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .latest-deals-grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .latest-deals-grid img{
    float:left;
    width: 200px;
  }

}
